html, body {
    margin: 0px;
    height:100%;
    width:100%;
    background-color: #2d3245;
    overflow:hidden;
}
.bottom {
    height:20%;
    width:100%;
}
#noselect {
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

#run {
    width:100%;
    height:100%;
    /* margin-left:10%;
    margin-right:10%;
    margin-top:5%;
    margin-bottom:5%; */
    font-size: 48px;
    background-color: #2d3245;
    border: none;
    outline: none;
    font-family: Consolas, Lucida Console, monospace;
}
#run:hover {

    background-color: #383e56;

}

#wrapper {
    width:100%;
    height:80%;
    margin : 0px;

}

#editor {
    width:50%;
    height:100%;
    margin : 0;
    float : left ;

}

.cm-s-material-darker {
    height:100%;

}
.errtext {
    color: #CD6262;
    background-color: #290000;
    margin:0px;
    padding-top:2px;
    padding-bottom:2px;
    padding-left:5px;
}
.logtext {
    margin:0;
    margin-left:5px;
}
#log {
    overflow-y: auto;
    overflow-x: hidden;
    height:95%;
    margin-top: 10px;

    margin-left: 10px;
}
#console {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width:50%;
    height:100%;
    border-left: 1px solid #333;
    margin : 0;
    float : left ;
    color: #fff;
    font-size: 12px !important;
    font-family: Consolas, Lucida Console, monospace;
    background-color: #212121;


}
