html, body {
    margin: 0px;
    height:100%;
    width:100%;
    background-color: #2d3245;
    overflow:hidden;
    touch-action: none;
}
.bottom {
    height:10%;
    width:100%;
}
#noselect {
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

#run {
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    width:90%;
    height:80%;
    color: #f69e7b;
    font-size: 40px;
    background-color: #383e56;
    border: none;
    outline: none;
    border-radius: 12px;

    margin: 25px;
    margin-top:2px;
    font-family: Consolas, Lucida Console, monospace;
}
#run:hover {

    background-color: #2d3245;

}

#wrapper {
    width:100%;
    height:90%;
    margin : 0px;

}

.presetbutton {
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    background-color: #383e56;
    float:left;
    width:18%;
    height: 95%;
    outline:none;
    border:none;
    color:#f69e7b;
    display: table-cell;
    border-radius: 6px;
    border: none;
    padding: 2px 4px;
    text-align: center;
    align-content: justify;
    text-decoration: none;
    display: inline-block;
    font-family: Consolas, Lucida Console, monospace;
    font-size: 12px;
    margin:2px;

}
.presetbutton:hover {
    background-color: #2d3245;

}


.runbutton {
    width:40%;
    height:100%;
    margin : 0;
    float : right;
}

.presets {
    width:60%;
    height:100%;
    margin : 0;
    float : left ;
}

.cm-s-material-darker {
    height:100%;

}
.errtext {
    color: #CD6262;
    background-color: #290000;
    margin:0px;
    padding-top:2px;
    padding-bottom:2px;
    padding-left:5px;
}
.logtext {
    margin:0;
    margin-left:5px;
}
#log {
    overflow-y: auto;
    overflow-x: hidden;
    height:95%;
    margin-top: 10px;

    margin-left: 10px;
}
#editor {
    width:60%;
    height:100%;
    margin : 0;
    float : left ;
}
#console {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width:40%;
    height:100%;
    border-left: 1px solid #333;
    margin : 0;
    float : left ;
    color: #fff;
    font-size: 12px !important;
    font-family: Consolas, Lucida Console, monospace;
    background-color: #212121;
}
